.primaryButton {
  text-decoration: none;
  color: initial;

  padding: 1rem 2rem;
  background-color: var(--primary);
  border-radius: 8px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;

  transition: all, 0.1s;
}

.primaryButton:hover {
  background-color: #d80000;
}

.primaryButton:active {
  background-color: #9a0000;
}

.secondaryButton {
  text-decoration: none;
  color: initial;

  padding: 1rem 2rem;
  background-color: var(--dark-grey);
  border-radius: 8px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;

  transition: all, 0.1s;
}

.secondaryButton:hover {
  background-color: #989898;
}

.secondaryButton:active {
  background-color: #6f6f6f;
}

@media screen and (max-width: 420px) {
  .primaryButton {
    width: 100%;
    padding: 1.25rem 0;
  }

  .secondaryButton {
    width: 100%;
    padding: 1.25rem 0;
    border: 2px solid var(--dark-grey);
    background-color: white;
    color: var(--dark-grey);
  }

  .secondaryButton:hover {
    background-color: var(--dark-grey);
    color: white;
  }

  .secondaryButton:active {
    background-color: var(--darker-grey);
    border-color: var(--darker-grey);
    color: white;
  }
}
