.primaryButton {
  text-decoration: none;
  color: initial;
  padding: 1rem 2rem;
  background-color: black;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  border: 2px solid black;
  transition: all, 0.1s;
}

.primaryButton:hover {
  background-color: var(--darker-grey);
  border-color: var(--darker-grey);
}

.primaryButton:active {
  background-color: var(--darkest-grey);
  border-color: var(--darkest-grey);
}

.secondaryButton {
  text-decoration: none;
  color: initial;

  padding: 1rem 2rem;
  color: black;
  border: 2px solid black;
  font-weight: bold;
  text-align: center;

  transition: all, 0.1s;
}

.secondaryButton:hover {
  background-color: var(--darker-grey);
  border-color: var(--darker-grey);
  color: white;
}

.secondaryButton:active {
  background-color: var(--darkest-grey);
  border-color: var(--darkest-grey);
}

@media screen and (max-width: 320px) {
  .primaryButton {
    font-size: 1rem;
  }
  .secondaryButton {
    font-size: 1rem;
  }
}
