.container {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.backIcon {
  transition: color 0.2s ease-in-out;
}

.backIcon:hover {
  color: var(--dark-grey);
}

.backIcon:active {
  color: var(--darker-grey);
}

/* mobile devices */
@media screen and (max-width: 550px) {
  .backIcon {
    width: 6rem;
  }
}
