.bookContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 18rem);
}

.bookContent {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.bookImage {
  display: flex;
  align-items: center;
}

.description {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bookHeader {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bookText {
  max-width: 600px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  gap: 1rem;
}

/* laptops */
@media screen and (max-width: 1000px) {
  .bookContent {
    flex-direction: column;
    gap: 6rem;
    align-items: center;
  }

  .bookImage {
    display: flex;
    justify-content: center;
  }

  .bookText {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .bookContent {
    gap: 2rem;
  }

  .buttonContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
