.bookContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 16rem);
}

.bookContent {
  display: flex;
  gap: 2rem;
}

.bookText {
  width: 600px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.buttonContainer {
  display: flex;
  gap: 1rem;
}
