.card {
  border: 1px solid black;
}

.cardImage {
  height: 24vh;
  width: 100%;
  position: relative;
}

.cardHeader > p {
  margin: 0;
  line-height: 1.6rem;
}

.cardContent {
  border-top: 1px solid black;
  padding: 1.2rem 1rem;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.cardBody {
  line-height: 0.4rem;
}

.cardBody > p {
  margin: 0;
}

/* mobile devices */
@media screen and (max-width: 550px) {
  .cardImage {
    height: 30vh;
    width: 100%;
    position: relative;
  }
  .cardContent {
    padding: 4rem 2rem;
  }
  .cardHeader > p {
    margin-bottom: 3rem;
  }
}

/* mobile devices */
@media screen and (max-width: 400px) {
  .cardHeader > p {
    margin: 0;
    line-height: 3.2rem;
  }
}
