.gallery {
  max-width: 70rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

/* mobile devices */
@media screen and (max-width: 850px) {
  .gallery {
    max-width: 100rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* mobile devices */
@media screen and (max-width: 550px) {
  .gallery {
    max-width: 100rem;
    grid-template-columns: repeat(1, 1fr);
  }

  @supports (grid-template-rows: masonry) {
    .gallery {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: masonry;
    }

    .gallery > * {
      margin-bottom: 0;
    }
  }
}
