:root {
  --black: black;
  --dark-grey: #818181;
  --light-grey: #979797;
  --primary: #bf0000;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  overflow-y: overlay;
}
p {
  line-height: 1.9rem;
}

.text-dark-grey {
  color: var(--dark-grey);
}

.text-light-grey {
  color: var(--light-grey);
}

.text-uppercase {
  text-transform: capitalize;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1 {
  font-size: 7.109rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1rem;
  line-height: 1.4rem;
}

.wrapper {
  padding: 8rem 5rem 0 5rem;
}

.backButton {
  cursor: pointer;
}

.content {
  text-align: center;
}

.noMargin {
  margin: 0;
}

.text {
  max-width: 650px;
  text-align: justify;
}

.disable-scrollbars::-webkit-scrollbar {
  background: transparent; /* Chrome/Safari/Webkit */
  width: 0px;
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

/* laptops */
@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
  p {
    line-height: 2.4rem;
  }
}

/* tablets */
@media screen and (max-width: 880px) {
  html {
    font-size: 12px;
  }

  p {
    line-height: 2.4rem;
  }

  h1 {
    font-size: 4rem;
  }
}

/* tablets */
@media screen and (max-width: 800px) {
  html {
    font-size: 12px;
  }

  p {
    line-height: 2.4rem;
  }
}

@media screen and (max-width: 650px) {
  html {
    font-size: 10px;
  }

  p {
    line-height: 3rem;
  }
}

/* mobile devices */
@media screen and (max-width: 550px) {
  html {
    font-size: 8px;
  }

  p {
    line-height: 3.5rem;
  }
}

/* smaller mobile devices */
@media screen and (max-width: 550px) {
  html {
    font-size: 6px;
  }

  h1 {
    font-size: 7.209rem;
  }

  p {
    line-height: 3.5rem;
  }

  h3 {
    font-size: 4.369rem;
  }
}
