.landing {
  background-color: black;
  color: white;
}

.content {
  padding: 2rem 0;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.project {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}
