.container {
  height: 100vh;
  min-height: -webkit-fill-available;
  padding: 10rem 5rem 3rem 5rem;
  scroll-snap-align: start;
  /* background-image: url('/backgrounds/contour1.svg'); */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  height: calc(100vh - 10rem - 10rem);
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.scrollContainer {
  bottom: 10rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--dark-grey);
}

.scroller {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollerText {
  margin-bottom: 0.5rem;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.highlight {
  background-color: black;
  padding: 0 1rem;
  color: white;
}

.heroMarch {
  bottom: 0;
}

@media screen and (max-width: 800px) {
  .navItem {
    display: none;
  }

  .container {
    padding: 10rem 5rem 4rem 5rem;
  }

  .content {
    height: calc(100vh - 10rem - 6rem);
  }
}

@media screen and (max-width: 650px) {
  .navItem {
    display: none;
  }

  .container {
    padding: 10rem 5rem 5rem 5rem;
  }

  .content {
    height: calc(100vh - 10rem - 7rem);
  }
}

/* mobile devices */
@media screen and (max-width: 550px) {
  .navItem {
    display: none;
  }

  .container {
    padding: 15rem 2rem 3rem 2rem;
  }

  .content {
    height: calc(100vh - 10rem - 30rem);
  }
}

#spin {
  font-size: clamp(2rem, 4vw + 1rem, 8rem);
  font-weight: 800;
}

#spin:after {
  content: '';
  animation: spin 4s infinite step-end;
  /* animation-delay: 1s; */
}

@keyframes spin {
  0% {
    content: 'NUS';
    color: white;
  }
  10% {
    content: 'M/Arch';
    color: white;
  }
  20% {
    content: 'Gradshow';
    color: white;
  }
  30% {
    content: '2022';
    color: white;
  }
  40% {
    content: 'Atmosphere + Agency';
    color: rgb(255, 217, 0);
  }
  50% {
    content: 'Conservation + Heritage';
    color: rgb(214, 0, 0);
  }
  60% {
    content: 'Performative Design';
    color: turquoise;
  }
  70% {
    content: 'Speculative Environments';
    color: rgb(88, 165, 0);
  }
  80% {
    content: 'Urban Commons + Wellness';
    color: rgb(111, 0, 255);
  }
  90% {
    content: 'ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC?';
    color: white;
  }
}
