.container {
  height: 100vh;
  padding: 10rem 5rem 2rem 5rem;
  /* background-image: url('/backgrounds/contour1.svg'); */
}

.content {
  height: 90%;
  overflow: clip;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.highlight {
  background-color: black;
  padding: 0 1rem;
  color: white;
}

.scrollContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--dark-grey);
}

.scroller {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroMarch {
  bottom: 0;
}

@media screen and (max-width: 800px) {
  .navItem {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .navItem {
    display: none;
  }
}

/* mobile devices */
@media screen and (max-width: 550px) {
  .navItem {
    display: none;
  }
}

#spin {
  font-size: 6.109rem;
  font-weight: 800;
}

#spin:after {
  content: '';
  animation: spin 4s infinite step-end;
}

@keyframes spin {
  0% {
    content: 'NUS';
    color: white;
  }
  10% {
    content: 'M/Arch';
    color: white;
  }
  20% {
    content: 'Gradshow';
    color: white;
  }
  30% {
    content: '2022';
    color: white;
  }
  40% {
    content: 'Atmosphere + Agency';
    color: yellow;
  }
  50% {
    content: 'Conservation + Heritage';
    color: rgb(255, 115, 0);
  }
  60% {
    content: 'Performative Design';
    color: turquoise;
  }
  70% {
    content: 'Speculative Environments';
    color: rgb(88, 165, 0);
  }
  80% {
    content: 'Urban Commons + Wellness';
    color: rgb(111, 0, 255);
  }
  90% {
    content: 'ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC? ETC?';
    color: white;
  }
}
