.active {
  background-color: black;
  color: white;
}

.wrapper {
  color: black;
}
.overlay {
  color: black;
  position: fixed;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  background-color: white;
  z-index: 2;
  /* transition: right 1s ease-in-out; */
}

.content {
  padding: 10rem 3rem;
  display: flex;
  justify-content: flex-end;
}

.navItems {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3rem;
  width: fit-content;
}

.navItem {
  width: fit-content;
  transition: color 0.1s ease-in-out;
  padding: 0.5rem 1rem;
}

.navItem:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.navItem:active {
  background-color: var(--darker-grey);
  color: white;
}

.overlayTab {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: black;
  opacity: 75%;
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 800px) {
  .overlay {
    width: 45%;
  }

  .content {
    padding: 14rem 3rem;
    display: flex;
    justify-content: flex-end;
  }
}

/* mobile devices */
@media screen and (max-width: 550px) {
  .overlay {
    width: 65%;
  }
}
