.navbar {
  display: flex;
  flex: 1;
  padding: 3rem 5rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.hamburger {
  z-index: 10;
  display: none;
}

.rightNav {
  display: flex;
  gap: 4rem;
}

@media screen and (max-width: 1000px) {
  .logo {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 650px) {
  .hamburger {
    z-index: 10;
    display: block;
    margin: -8px;
  }

  .hamburgerIcon {
    right: -8px;
  }

  .navItem {
    display: none;
  }

  .logo {
    width: 48px;
    height: 48px;
  }
}
