.navbar {
  display: flex;
  flex: 1;
  padding: 2rem 5rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 10rem;
}

.active {
  color: var(--light-grey);
}

.hamburger {
  z-index: 10;
  display: none;
}

.rightNav {
  display: flex;
  gap: 4rem;
}

.navItem {
  transition: color 0.2s ease-in-out;
}

.navItem:hover {
  color: rgb(199, 199, 199);
}

@media screen and (max-width: 1000px) {
  .logo {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 1250px) {
  .hamburger {
    z-index: 10;
    display: block;
    margin: -8px;
  }

  .hamburgerIcon {
    right: -8px;
  }

  .navItem {
    display: none;
  }

  .logo {
    width: 48px;
    height: 48px;
  }
}

@media screen and (max-width: 550px) {
  .navbar {
    height: 8rem;
    padding: 0rem var(--mobile-padding);
  }
}
