.container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.contentBox {
  padding-top: 10rem;
  width: 50%;
  overflow-y: scroll;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.back {
  top: 10rem;
  margin-bottom: 1rem;
}

.meta {
  margin: 1rem 0 2rem 0;
}

.abstract {
  width: 50rem;
}

.innerContentBox {
  width: 100%;
}

.textBox {
  padding: 0rem 5rem 2rem 5rem;
}

.imageBox {
  position: relative;
  height: 100vh;
  width: 50%;
  overflow-y: scroll;
  height: 100vh;
}

.individualImageBox {
  border: 5px solid white;
}

.imageFilter {
  position: absolute;
  top: 0;
  height: 50vh;
  width: 100vw;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0.276) 100%
  );
  z-index: 1;
}

.coverImage {
  height: 50vh;
  padding: 0;
  position: relative;
  filter: brightness(80%);
}

.individualImageBox:first-of-type {
  display: none;
}

.enlarged {
  display: absolute;
  height: 1000px;
}

.callout {
  padding: 2rem 0;
  border-top: 1px solid var(--light-grey);
  border-bottom: 1px solid var(--light-grey);
}

.calloutContent {
  padding: 0 5rem;
}

.quoteName {
  text-align: end;
}

.hideOnTablet {
  display: none;
}

.imageWrapper {
  position: fixed;
  background: linear-gradient(0, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  z-index: 10;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageOverlay {
  height: 90%;
  width: 90%;
  position: relative;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.text {
  max-width: 650px;
}

@media screen and (min-width: 1600px) {
  .projectHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1250px) {
  .back {
    margin-bottom: 1rem;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .textBox {
    padding: 2rem 5rem 2rem 5rem;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .contentBox {
    padding-top: 0rem;
    height: fit-content;
    width: 100%;
    overflow-y: visible;
  }

  .imageBox {
    height: fit-content;
    width: 100%;
    overflow-y: visible;
  }

  .projectHeader {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .hideOnMobile {
    display: none;
  }

  .hideOnTablet {
    display: block;
  }

  .callout {
    padding: 3rem 0;
    border-top: 1px solid var(--lighter-grey);
    border-bottom: 1px solid var(--lighter-grey);
  }
}

/* mobile devices */
@media screen and (max-width: 550px) {
  .coverImage {
    height: 30vh;
    padding: 0;
    position: relative;
  }

  .back {
    top: 0;
    padding: 0;
  }

  .textBox {
    padding: var(--mobile-padding);
  }

  .calloutContent {
    padding: 0 var(--mobile-padding);
  }

  .text {
    width: 100%;
  }
}
