.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(236, 236, 236);
}

.card {
  width: 50rem;
  height: 32rem;
  background-color: var(--light-grey);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10rem 10rem 10rem 5rem;
}

/* mobile devices */
@media screen and (max-width: 550px) {
  .card {
    height: 30rem;
    max-height: 30vh;
    width: calc(100vw - 4rem);
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5rem;
    margin: 0 2rem;
  }
}
