.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(236, 236, 236);
}

.card {
  max-width: 1400px;
  width: 70vw;
  height: 52.5vh;
  padding: 0 5rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* mobile devices */
@media screen and (max-width: 550px) {
  .card {
    padding: 0 2rem;
  }
}
