.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(236, 236, 236);
}

.card {
  width: 60rem;
  height: 36rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  padding: 0 5rem;
  color: white;
}

.cardContent {
  background-color: green;
}

/* mobile devices */
@media screen and (max-width: 550px) {
  .card {
    height: 34rem;
    max-height: 30vh;
    width: calc(100vw - 4rem);
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
    margin: 0 2rem;
  }
}
