.themeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 60vh;
  background-image: url('/2022/backgrounds/contour1.svg');
  border-bottom: 1px solid var(--lighter-grey);
}

.themeContent {
  padding: 10rem 5rem 5rem 5rem;
}

.themeText {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 600px;
  text-align: justify;
}

/* tablets */
@media screen and (max-width: 800px) {
  .themeText {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .themeContent {
    padding: var(--mobile-offset) var(--mobile-padding) 5rem
      var(--mobile-padding);
  }
}
