.wrapper {
  margin-top: 8rem;
  padding: 0 5rem;
  padding-top: 2rem;
}

.content {
  margin: 4rem;
}

.projectGallery {
  display: flex;
  column-gap: 5rem;
  overflow-x: scroll;
}

.projectGallery > :first-child {
  margin-left: 1rem;
}

.projectGallery > :last-child {
  margin-right: 5rem;
}

/* tablets */
@media screen and (max-width: 1000px) {
  .projectGallery {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
    align-items: center;
  }

  .projectGallery > :first-child {
    margin-left: 0;
  }

  .projectGallery > :last-child {
    margin-right: 0;
  }
}
