.wrapper {
  margin-top: 8rem;
  padding: 0 5rem;
  padding-top: 2rem;
}

.content {
  margin: 0rem;
}

.projectGallery {
  display: flex;
  column-gap: 5rem;
  overflow-x: scroll;
  min-height: 60vh;
  align-items: center;
}

.projectGallery > :first-child {
  margin-left: 5rem;
}

.projectGallery > :last-child {
  margin-right: 5rem;
}

/* tablets */
@media screen and (max-width: 1000px) {
  .projectGallery {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
    align-items: center;
    margin: 3rem;
  }

  .header {
    text-align: center;
  }

  .projectGallery > :first-child {
    margin-left: 0;
  }

  .projectGallery > :last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 550px) {
  .wrapper {
    margin-top: 10rem;
  }
}
